@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jua&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&display=swap");
:root {
  --font-family: "Lato", sans-serif;
  --font-weight: 100;
  --font-style: normal;
  --backgraund-color: #f9fafb;
}
body {
  border-radius: 200px;

  width: 1280px;
  height: 1666px;
  top: 961px;
  left: 2629px;
  gap: 32px;
  opacity: 0px;
  background-color: #ffffff;
  padding: 30px;
  margin: 61px;
  background-attachment: var(--backgraund-color);
}

header {
  display: flex; /* Utilizamos flexbox para alinear los elementos */
  justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 0%;
}

.nav {
  width: 533px;
  height: 24px;
  top: 126px;
  left: -50px;
  gap: 12px;
  opacity: 40px;
}

.nav .navega {
  text-decoration: none;
 

}

/* Opcional: Quitar el subrayado del enlace en general para asegurar que no haya subrayado */
.nav a {
color: #9CA3AF;

  text-decoration: none;
}
.perfil {
  width: 124px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #9CA3AF;
 
}
.confi {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
color: #5D00B9;

}

input {
  width: 1054px;
  height: 40px;
  top: 294px;
  left: 113px;
  gap: 0px;
  border-radius: 4px 4px 4px 4px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  background-color: #FFFFFF;
  color: #475467BA;

  border: 1px solid #CDCDCD
 
}

option {
  width: 272px;
  height: 17px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
}
#name {
  width: 323px;
  height: 20px;
  top: 262px;
  left: 113px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #09244b;
}
#lotio {
  width: 92px;
  height: 20px;
  top: 458px;
  left: 114px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #09244b;
 
}
#motive {
  width: 206px;
  height: 20px;
  top: 360px;
  left: 113px;
  gap: 0px;
  opacity: 0px;
  color: #09244b;

}
#redsocial {
  width: 463px;
  height: 20px;
  top: 609px;
  left: 114px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;

}
#type {
  width: 557px;
  height: 20px;
  top: 760px;
  left: 114px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;

}
select {
  width: 320px;
  height: 57px;
  top: 501px;
  left: 114px;
  padding: 17px 24px 17px 24px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #126ae8;
  color: #09244b;
}
.alertsave h6{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 80px;
}

label {
  width: 323px;
  height: 20px;
  top: 262px;
  left: 113px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #09244b;
}
.select {
  width: 101px;
  height: 24px;
  top: 458px;
  left: 114px;
  gap: 0px;
  opacity: 0px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: black;
}
#generateButton {
  margin-left: 100px;
  width: 135px px;
  height: 60px px;
  top: 890px;
  left: 555px;
  padding: 16px 28px 16px 28px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #275e99;
  color: #fff;
  border: none;
  cursor: not-allowed;
}
h4 {
  margin-left: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin-top: 70px;
  color: #ffffff;
}
#generateButton {
  margin-left: 500px;
}
#generateButton span {
  width: 79px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

#generateButton:disabled {
  background: rgba(233, 215, 254, 1);
  cursor: not-allowed;
}

/* Estilo para el botón habilitado */
#generateButton.enabled {
  background: rgba(127, 86, 217, 1);
  cursor: pointer;
}
.contenedor {
  padding: 10px;
  display: flex;
  width: 1054px;
  height: 356px;
  top: 1179px;
  left: 113px;
  gap: 0px;
  border-radius: 15px 0px 0px 0px;
  opacity: 0px;
  border-radius: 15px 15px 15px 15px;
  opacity: 0px;
  background-color: #d9d9d9;
}
/* Estilos para las tarjetas */
.card1 {
  margin: 40px;
  width: 291.19px;
  height: 255.11px;
  top: 1229px;
  left: 179px;
  gap: 0px;
  opacity: 0px;
  background-color: #ffffff;
  border: 1px solid #13254a;
  border-radius: 10px;
  box-shadow: 35.19px 24.63px 70.38px 0px #00000014;
  margin-right: 1px;
}

.contenedor p {
  width: 234.88px;
  height: 95px;
  gap: 0px;
  opacity: 0px;
  top: 1229px;
  left: 179px;
  padding: 28.15px;
  gap: 28.15px;
  border-radius: 14.08px 14.08px 14.08px 14.08px;
  border: 1px 1px 1px 1px;
  font-family: Montserrat;
  font-size: 10.56px;
  font-weight: 400;
  line-height: 15.83px;
  text-align: left;
  color: #6a6a6a;
}
.card1 button {
  width: 93px;
  height: 39px;
  top: 1387px;
  margin-left: 108px;
  padding: 16px 28px 16px 28px;
  gap: 8px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  padding: 20px;
}
.save {
  background-color: #09244b;
  width: 93px;
  height: 36px;
  gap: 20px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 5px;
  text-align: left;
  color: #ffffff;
  border: 1px solid #5d00b9;
  box-shadow: 0px 1px 2px 0px #1018280d;
  background-color: #5d00b9;
}
.generating-overlay {
  width: 237px;
height: 136px;
margin-top: -1180px;
margin-left: 700px;
padding: 62px 43px 62px 43px;
gap: 10px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;
background-color: #8A6DFF;

}

.generating-content {
  background-color: #8A6DFF;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.generating-content h6 {
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: center;
color: #FFFFFF;
}
.loader {
  border: 8px solid #f3f3f3; /* Color de fondo del spinner */
  border-top: 8px solid #fff; /* Color blanco del spinner */
  border-radius: 50%;
  width: 40px; /* Diámetro del spinner */
  height: 40px; 
  margin: 0 auto; /* Centra horizontalmente */
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.save span {
  margin-left: -19px;
  width: 71px;
  height: 28px;
  opacity: 5px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 5px;
  text-align: left;
  color: #ffffff;
  padding: 10px;
}
h3 {
  width: 533px;
  height: 43px;
  top: 1071px;
  gap: 0px;
  opacity: 0px;
  margin-left: 250px;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
  box-shadow: 0px 0px 0px 0px #00000040;
}

.line {
  width: 200px;
  height: 50px;
}
p {
  color: var(--Dark-grey, #6a6a6a);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 10.557px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.835px; /* 150% */
}
#generateButton {
  border-radius: 10px;
  background-color: #e9d7fe;
  text-align: center;
  width: 150px;
  height: 50px;
  margin-left: 450px;
}
#generateButton span {
  color: #f6f6fa;
  text-align: center;
}

#text {
  width: 715px;
  height: 92px;
  top: 1059px;
  left: 277px;
  gap: 0px;
  opacity: 0px;
  background-color: #126ae8;
}
footer {
  margin: -70px;
  padding: 20px;
  margin-top: 100px;
  width: 1266px;
  height: 60px;
  top: 1606px;
  left: 7px;
  gap: 0px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  text-align: center;
  padding: 10px ;
  margin: 60px;
  position: absolute;
  bottom: 0;
}

.footer-story {
  padding: 10PX;
  margin: 1PX;
  margin-right: 100px;
  border-top: 2px solid #09244b; /* Crea la línea en la parte superior del footer */
  /* Espacio entre la línea y el texto */
}

.footer p {
  padding: 30PX;
  margin: 2PX;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #09244b;
}
